<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key ="DatabaseRecord" value ="D:\Database\"/>
		<!-- Place where all the archives will be recorded, it is necessary to put the place where you want to record all the data and add to the name a backslash(\)-->
		<add key ="Database" value ="D:\Database\User.txt"/>
        <!-- Same local, but now it's with the whole archive directory.-->
	</appSettings>
</configuration>